

.note-preview {
    position: relative;
    border: 1px solid #393e46;
    margin: 10px 10px;
    width: 18vw;
    height: 18vh;
}

.note-command {
    position: absolute;
    bottom: 0;
    height: 3vh;
    width: 18vw;
    border: 1px solid black
}

.color-input {
    min-width: 15px;
    width: 19px;
    height: 19px;
    border-radius: 28px;
}

.remvove-note {
    background: url('../img/svg/iconfinder___Cross_1904654.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}