
/* Note Style */
.preview-container ,.note-container {
    list-style:none;
}

.preview-container {
    overflow:hidden;
    padding:3em;
    margin-top: 3em;
}

.preview-container .note-container .note-link {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:12em;
    width:12em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .10s linear;
}

.preview-container .note-container {
    display: inline-block;
    margin: 20px;
}

.preview-container .note-container {
    padding-bottom:10px;
}

.preview-container .note-container p {
    font-size:130%;
}

.preview-container .note-container h4 {
    margin-bottom: 5px;
}

.preview-container .note-container .note-link {
    transform: rotate(-6deg);
}

.preview-container .note-container:nth-child(even) .note-link {
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}

.preview-container .note-container:nth-child(3n) .note-link {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}

.preview-container .note-container:nth-child(5n) .note-link {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
}

.preview-container .note-container .note-link:hover,.preview-container .note-container .note-link:focus {
    cursor: default;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:1;
}

.important {
    border: 5px dotted red;

}

/* Note Image */

.note-img {
    max-width: 160px;
    max-height: 90px;
}


/* Note Command  */

.note-command { 
    position: absolute;
    bottom: 7px;
    width: 12em;
} 

.color-input {
    background: url('../img/svg/svg/linealcolor/39-art.svg');
    width: 1.7em;
    height: 1.7em;
} 

#note-color-input {
    display: none;
}

.pinned-note {
    background: url('../img/svg/svg/lineal/18-save-the post.svg');
    border: none;
    width: 1.9em;
    height: 1.9em;;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.pinned-note.important {
    background: url('../img/svg/svg/linealcolor/18-save-the-post.svg')
}
.remvove-note {
    background: url('../img/svg/svg/lineal/48-trash.svg');
    border: none;
    width: 1.9em;
    height: 1.9em;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.share-note {
    background: url('../img/svg/svg/lineal/23-globe.svg');
    width: 1.9em;
    height: 1.9em;
    border: none;
}

.share-note, .remvove-note, .pinned-note, .color-input:hover {
    cursor: pointer;
}