.note-modal{
    z-index: 3;
    background-color: #eeeeee;
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 20vh;
    left: 15vw;
    border: 4px solid #393e46
}
.note-modal textarea{
    width: 99%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.screen {
    position: fixed;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.screen:hover {
    cursor: pointer;
}