

.note-preview {
    /* position: relative; */
    border: 1px dotted #393e46;
    margin: 10px 10px;
    width: 18vw;
    height: 18vh;
}

.note-command {
    /* position: absolute; */
    bottom: 0;
    width: 14.3em;
}

.color-input {
    background: url('../img/svg/svg/linealcolor/39-art.svg');
    width: 1.7em;
    height: 1.7em;
}

#note-color-input {
    display: none;
}

.pinned-note {
    background: url('../img/svg/svg/lineal/18-save-the post.svg');
    background-color: #ffffff;
    border: none;
    width: 1.9em;
    height: 1.9em;;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.remvove-note {
    background: url('../img/svg/svg/lineal/48-trash.svg');
    background-color: #ffffff;
    border: none;
    width: 1.9em;
    height: 1.9em;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.share-note {
    background: url('../img/svg/svg/lineal/23-globe.svg');
    width: 1.9em;
    height: 1.9em;
    border: none;
    background-color: #ffffff;
}

.share-note, .remvove-note, .pinned-note, .color-input:hover {
    cursor: pointer;
}