


.email-compose-container {
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    margin: 3rem auto
}

.email-compose-form-container {
    margin: 1rem;
    padding: 2rem 2rem
}

.email-subjet-input, .email-recipient-input {
    display: block;
    width: 95%;
    height: 4%;
    border:1px solid black;
}

.email-body-input {
    border: 1px solid black;
    width: 95%;
    height: 30%;
    font-size: 20px;
    padding: 1rem;
    border-radius: 28px;
    font-family: 'Muli';}
    @media (max-width: 740px) {
        .email-body-input {
            height: 25%
        }
        .email-subjet-input, .email-recipient-input {
            height: 3%;
        }
    }
.email-send-btn {
    position: absolute;
    top: 90%;
    left: 90%;}
    @media (max-width: 740px) {
        .email-send-btn {
            top: 20%;
            left: 50%;
            transform: translateX(-50%)
        }
    }